<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find Destination using SOAP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div th:include="fragments/navigation :: navigation"></div>
<br><br><br><br>
<div class="container">
    <div class="panel">
        <div class="panel-heading" style="background-color: greenyellow">
            <h4>With SOAP</h4>
        </div>
        <div class="panel-body">
            <form action="#" class="form-horizontal" th:action="@{/interstellar/routes/shortestPathWs}" th:object="${planetrequest}" method="post">
                <fieldset>
                    <table class="table">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <td>Origin</td>
                            <td><input th:field="*{planetOriginNode}" required/></td>
                            <td>Destination </td>
                            <td><input th:field="*{planetDestinationNode}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <span class="pull-right">
                            <input type="submit" id="submitButton" class="btn btn-success" th:value="Find">
                        </span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>
